<%= form_with(model: room, remote: true) do |form| %>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :icon, style: "display: block" %>
    <%= form.text_field :icon %>
  </div>

  <div class="modal-action">
    <%= form.submit class: "btn", for: "my-modal" %>
  </div>
<% end %>
