<%= turbo_stream_from @current_room %>
    <div class="top-0 left-0 h-screen w-16 m-0 flex flex-col justify-between shadow-lg p-2 bg-base-100">
        <div class="flex flex-col">
            <div class="sidebar-icon group bg-neutral-content ">
                <div>
                    <%= image_tag("duck.png", :alt => "rss feed") %>
                </div>
            </div>
        <div id="rooms">
            <div class="border-b border-t border-gray-700 pb-2">
                <% @rooms.each do |room| %>
                    <%= render partial:'partials/room', locals: {room: room}%>
                <% end %>
            </div>
        </div>
            <div class="sidebar-icon group">
                <label for="my-modal" class="fa-solid fa-circle-plus fa-2xl hover:cursor-pointer"></label>
                <span class="sidebar-tooltip group-hover:scale-100">Add new Room</span>
            </div>
            </div>
            <div>
            <div class="sidebar-icon group text-red-500 ">
                <a href="/logout"><i class="fa-solid fa-power-off fa-2xl"></i></a>
                <span class="sidebar-tooltip group-hover:scale-100">Log Out</span>
            </div>
        </div>
    </div>
<%= render 'partials/add_modal' %>
<div class="flex flex-col min-h-screen w-screen bg-neutral">
    <%= render 'partials/header' %>
    <div class="flex-1 flex">
        <div class=" w-56 flex-none flex flex-col justify-between text-sm">
            <%= render 'partials/channelbar'%>
            <div class=" py-7 px-2 flex item-center justify-between border-gray-700 border-t">
                <div class="flex items-center object-contain">
                    <a href="/users/<%=session[:user_id]%>"><img src="<%=@current_user.profile_picture_url %>" alt="duck" class="w-10 h-10 rounded-full"></a>
                    <div class="text-xs ml-2">
                        <div class=""><%= @current_user.first_name + ' ' + @current_user.last_name  %></div>
                        <div class=" text-xs">#<%=@current_user.employee_code %></div>
                    </div>
                </div>
                <div class="flex items-center">
                    <a href="#" class="ml-3 hover:text-gray-100"><i class="fa-regular fa-clock"></i></a>
                    <a href="#" class="ml-3 hover:text-gray-100"><i class="fa-regular fa-clock"></i></a>
                    <a href="#" class="ml-3 hover:text-gray-100"><i class="fa-regular fa-clock"></i></a>
                </div>
            </div>
        </div>
        <div class="flex-1 flex justify-between">
            <div class="flex-1 flex flex-col justify-between bg-base-200 h-[94vh] ">
                <%# ALL OF CHAT %>
                <div class="text-sm flex-1 flex flex-col scrollbar overflow-y-auto" >
                <%= turbo_stream_from "messages_#{@current_channel.id}" %>
                <div id="messages" class="flex-1">
                    <% @messages.each do |message| %>
                    <%= render partial: 'partials/message', locals: { message: message } %>
                    <% end %>
                </div>
                </div>
                <%# CHAT INPUT AREA HERE %>
                <div class=" h-24 flex items-center mx-3 border-t border-gray-500">
                    <button class="px-2 py-2 h-10   rounded-s-lg hover:border-r border-gray-600">
                        <i class="fa-solid fa-circle-plus fa-xl"></i>
                    </button>
                    <div class="flex-1">
                        <%= render partial:'/messages/form', locals: { message: @message, room: @current_room, channel: @current_channel } %>
                    </div>
                </div>
            </div>
            <%# SIDEBAR AREA HERE %>
            <div class=" w-56 flex-none px-3 py-3">
            <h3 class="uppercase tracking-wide font-semibold text-xs  mb-2">Channel Admin</h3>
            <ul class="mb-6 truncate">
            <ul class="mb-6">
                <li class=" px-2 hover:text-gray-200 hover:bg-primary py-1 my-2">
                    <a href="#" class="flex items-center">
                        <span><img src="<%=@current_user.profile_picture_url %>" alt="duck2" class="w-9 h-9 rounded-full"></span>
                        <span span class="ml-2"><%=@current_user.first_name + " " + @current_user.last_name %></span>
                    </a>
                </li>
            </ul>
            <h3 class="uppercase tracking-wide font-semibold text-xs  mb-2">Employees</h3>
            <ul class="mb-6">
            <% @users.each do |user| %>
                <li class=" px-2 hover:text-gray-200 hover:bg-primary py-1 my-2">
                    <a href="#" class="flex items-center">
                        <span><img src="<%= user.profile_picture_url %> alt="duck2" class="w-9 h-9 rounded-full"></span>
                        <span span class="ml-2"><%= user.first_name + " " + user.last_name%></span>
                    </a>
                </li>
            <% end %>
            </ul>
            </div>
        </div>
    </div>
</div>